<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReservaFinal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="habitaciones">
                <span class="bi bi-door-open-fill-nav-menu" aria-hidden="true"></span> Habitaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservas">
                <span class="bi bi-calendar-check-fill-nav-menu" aria-hidden="true"></span> Reservas
            </NavLink>
        </div>
    </nav>
</div>

